.mat-card-avatar {
  height: 30px;
  width: 30px;
}
.example-header-image {
  background-size: cover;
}
.in {
  background-image: url('../../../assets/img/examples/in.svg');
}
.out {
  background-image: url('../../../assets/img/examples/out.svg');
}
::-webkit-scrollbar {
    width: 0em;
    height: 0em;
}
.example-card {
  
  border-radius:10px;
      display: inline-block;
}
.example-card-1 {
  width: 85px;
  height: 75px;
  border-radius: 10px;
  margin: 10px 5px 10px 5px;
  padding: 0px !important;
}
.scontainer {
  position: relative;
  height: 214px;
  justify-content: center;
  background: #cccccc;
  border-radius: 15px;
}
.scrollContainer {
  overflow-x: auto;
  overflow-y: none;
  position: relative;
  justify-content: center;
  background: #cccccc;
  display: inline-block;
      white-space: nowrap;
          max-width: 86%;
}
#outContainer.scrollContainer {
  margin-right: 5px;
}

#inContainer.scrollContainer {
  margin-left: 5px;
}

.sebm-google-map-container {
  height: 300px;
}
.agm-map {
  height: 300px;
}