@import "~font-awesome/css/font-awesome.min.css";
.mat-card-avatar {
  height: 30px;
  width: 30px;
}
.mat-card-header {
  text-align: center;
}
.example-header-image {
  background-size: cover;
}
.in {
  height: 75px;
  justify-content: center;
  vertical-align: bottom; 
  margin-bottom: 11px;
  display: inline-block;
}
.out {
  height: 75px;
  justify-content: center; 
  vertical-align: bottom; 
  margin-bottom: 11px;
  display: inline-block;
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
::-webkit-scrollbar {
    width: 0em;
    height: 0em;
}
.example-card {
  border-radius:10px;
  display: inline-block;
}
.example-card-1 {
  width: 85px;
  height: 75px;
  border-radius: 10px;
  margin: 10px 5px 10px 5px;
  padding: 0px !important;
  background-color: #209e91;
  color: #FFFFFF;
}
.scontainer {
  position: relative;
  height: 214px;
  justify-content: center;
  background-color: #1C2B36;
  border-radius: 15px;
}
.scrollContainer {
  overflow-x: auto;
  overflow-y: none;
  position: relative;
  justify-content: center;
  display: inline-block;
  white-space: nowrap;
  max-width: 86%;
  background-color: #1C2B36;
}
#outContainer.scrollContainer {
  margin-left: 5px;
}

#inContainer.scrollContainer {
  margin-left: 5px;
}

.sebm-google-map-container {
  height: 300px;
}
.agm-map {
  height: 300px;
}