<h3>Track Me</h3>
<!-- <p-gmap [options]="options" [style]="{'width':'60%','height':'320px','float':'left'}" ></p-gmap> -->
<div class="scontainer">
<!-- <div style="text-align: center;display: inline-block;" class="example-header-image in">IN</div> -->
<div><img src='../../../assets/img/examples/in.svg' style="height: 75px; justify-content: center; vertical-align: bottom;
    display: inline-block;">

<div class="scrollContainer" *ngIf="inBikerList" id="inContainer">
	<div *ngFor="let biker of inBikerList" class="example-card">
		<md-card class="example-card-1">
		<md-card-header>
			<!-- <div md-card-avatar class="example-header-image in"></div> -->
			<md-card-title>{{biker.emp_code}}</md-card-title>	
		</md-card-header>
	<md-card-content>
	{{biker.distance}}
	<!-- <strong>ETA:</strong> 	{{biker.reach_time}}<br>
	<strong>Distance:</strong>  	{{biker.distance}}<br>
	<strong>Store:</strong>	 	{{biker.store_name}} -->
	</md-card-content>
	</md-card>
	</div>
</div>
</div>
<div><img src='../../../assets/img/examples/out.svg' style="height: 75px; justify-content: center;vertical-align: bottom;
    display: inline-block;">
<div class="scrollContainer" *ngIf="inBikerList" #complexContainer id="outContainer">
	<div *ngFor="let biker of outBikerList" class="example-card">
		<md-card class="example-card-1">
		<md-card-header>
			<!-- <div md-card-avatar class="example-header-image out"></div> -->
    	<md-card-title>{{biker.emp_code}}</md-card-title>
		</md-card-header>
	<md-card-content>
		{{biker.distance}}
	</md-card-content></md-card>
		<!-- <md-card class="example-card-1">
		<md-card-header>
			Emp Code
		</md-card-header>
	<md-card-content>
	<strong>ETA:</strong> 	{{biker.reach_time}}<br>
	<strong>Distance:</strong>  	{{biker.distance}}<br>
	<strong>Store:</strong>	 	{{biker.store_name}}
	</md-card-content>
	</md-card> -->
	</div>
</div>
</div>
</div>
<smart-tables [filter]="filter" #table></smart-tables>